button{
    border-radius: 60px;
    border:none;
    margin-right: 20px;
    width: 250px;
}

@keyframes ridSpazio {
    0% {
        grid-template-rows: repeat(3, 290px); 
        height: 880px;
    }
    100% {
        grid-template-rows: repeat(3, 260px); 
        height: 800px;
    }
}
.contenitoreStart {
    background-color: white;
    height: 880px;
    width: 70%;   
    position: absolute;
    top: 200;
    left: 0px;
    padding-left: 70px;
    display: grid;
    grid-template-rows: repeat(3, 290px); 
    grid-auto-flow: column;
    row-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 30px;
    transition: grid-template-rows 300ms ease-out;
    transition: height 300ms ease-out;
}

.contenitoreEnd {
    background-color: white;
    height: 800px;
    width: 70%;   
    position: absolute;
    top: 200;
    left: 0px;
    padding-left: 70px;
    display: grid;
    grid-template-rows: repeat(3, 260px); 
    grid-auto-flow: column;
    row-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    color: yellow;
    padding-right: 30px;
    transition: grid-template-rows 1000ms ease-out;
    transition: height 300ms ease-out;
}

.contenitoreStart::-webkit-scrollbar {
    display: none;
}
.contenitoreEnd::-webkit-scrollbar {
    display: none;
}
img{
    margin-bottom:1vh;
    height: 100px;   
    width: 150px;  
}
p{
    color:white; 
    font-size:30px;
    display: inline;
    white-space: nowrap;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;

}
span{
    color: white;
    background-color:hsla(0, 0%, 100%, 0.212);
    border-radius: 8px;
    padding-left: 2vw ;
    padding-right: 2vw ;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    display: inline;
    font-size:calc((100vw/100)*1.5);
    white-space: nowrap;
    position:relative;  
    bottom :10px;
}
div{
    margin-bottom: 0.7vh;
}
@keyframes CatHeight {
    0% {
        height: 270px;
    }
    100% {
        height: 230px;
    }
}

.start {
    height: 280px;
    transition: height 300ms ease-out;
}

.end {
    height: 250px;
    transition: height 300ms ease-out;
}