<button id="main-button" (click)="cambiaStato()">
    <img id="main-img"  [src]="selecLingua.image">
</button>

    <section (click)="cambiaStato()" [ngClass]="{'hide': !contMenuLingue}">
        <div id="menu" [style.background-color]="getBackgroundColor()" [@showLanguage]="contMenuLingue === false ? 'start' : 'end'">
            <div id="cont">
                <span *ngFor="let l of LingueList">
                    <button (click)="selezionaLingua(l)" id="button-2">
                        <img [src]="l.image">
                    </button>
                </span>
            </div>    
        </div>
    </section>