section {
    width: 76%;
    height: 100%;
    overflow-y: auto;
    display: block;
    position: absolute;
    background-color: white;
    left: -5px;
    top: 0;
    overflow-x: hidden;
    z-index: 30;
}
#m-logo{
    position:fixed;
}

#container-l{
    position: absolute;
    margin-top: 100px; 
    margin-left: 10%;
}
#HW-container{
    margin-top: 320px;
    margin-left: 10%;
}
#HW-container > p{
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hey-t{
    font-size: 70px;
    font-weight: 850;
    line-height: 1;
}
#Wup-t{
    font-size: 50px;
    font-weight: 550;
    line-height: normal;
    line-height: 1;
}
#popularTxt{
    font-size: 70px;
    font-weight: 850;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
    position: absolute;
    top:1420px;
    left: 9%;
}
#fade {
    position: absolute;
    overflow: hidden;
    height: 900px;
    background-color: rgb(255, 255, 255); 
    display: flex;
    
    filter: blur(30px);
    width: 30%;
    top: 25%;
    right: -50px;
    z-index: 10;
  
    
}
::-webkit-scrollbar {
    display: none;
}
