#main{
    width: 76%;
    height: 100%;
    overflow-y: auto;
    display: block;
    position: absolute;
    background-color: white;
    left: -5px;
    top: 0;
    overflow-x: hidden;
    z-index: 30;
}


#top-cont{
    z-index: 0;
    position: relative;
}

.visible{
    display: block;
}
.invisible{
    display: none;
}

/* pulsante back */
#back-cont{
    z-index: 10000;
    background-color: white;
    width: 100%;
    height: 9%;
    position: fixed;
}

#back{
    background-color: white;
    border: none;
    position:absolute;
    left: 50px;
    margin-top:6%;
}
#back > p{
    position: relative;
    display: inline;
    color: black;
}
#back-text{
    font-weight: 700;
    font-size:40px;
}
#back-frecia{
    top: 15px;
    font-weight: 300;
    font-size:80px;
 
}



#m-logo{
    position:fixed;
}
#container-l{
    position: absolute;
    margin-top: -200px ; 
    margin-left: 10%;
}
#HW-container{
    margin-top: 320px;
    margin-left: 10%;
}
#HW-container > p{
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hey-t{
    font-size: 70px;
    font-weight: 850;
    line-height: 1;
}
#Wup-t{
    font-size: 50px;
    font-weight: 550;
    line-height: normal;
    line-height: 1;
}
#popularTxt{
    font-size: 70px;
    font-weight: 850;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
    position: absolute;
    top:1120px;
    left: 9%;
}
#fade {
    position: absolute;
    overflow: hidden;
    height: 900px;
    
    filter: blur(30px);
    width: 30%;
    top: 180px;
    right: -50px;
    z-index: 10;
  
    
}
::-webkit-scrollbar {
    display: none;
}
