<html>
    <body [style.background-color]="getBackgroundColor()">
        <section>
            <span id="cerchio"></span>
            <span id="contorno"></span>
        </section>

        <img src="assets/M.png" id="logo">

        <div id="titolo"><p [style.color]="getTestiColor()">{{Titolo}}<br>{{Titolo2}}</p></div>
        
        <!-- Toggle Switch -->
        <input type="checkbox" id="switch" (click)="darkModeApp()"/>
        <label for="switch"></label>

        <language id="language"></language>
        <start-button></start-button>
    </body>
</html> 