<header>
    <!-- bottone back -->
    <a [routerLink]="'/MainScreen'">
        <button id="back" (click)="passagioMainPage()">
            <p id="back-frecia"> < </p>
            <p id="back-text">Back</p>
        </button>
    </a>
    <!-- bottone lingua -->
    <language id="language"></language>
</header>

<body>
    <!-- logo -->
    <div id="cont-logo">    
        <img src="assets/M.png">
    </div>
    <!-- title -->
    <div id="testiMOTE">
        <p id="MO">{{my}}<br>{{order}}</p>
        <span>
            @if(flagInOut){
                <p id="TE">{{TakeOut}}</p>
            }@else {
                <p id="TE">{{EatIn}}</p>
            }
        </span>
    </div>
    <!-- carello -->
     <div id="CObox">
        @for (prod of scontrino; track prod.price){
            <prod-check-out [prodotto]="prod"></prod-check-out>
        }
    </div>   
</body>

<footer>
    <!-- conto totale -->
    <div>
        <p></p>
        <p></p>
    </div>
    <!-- pulsante checkout -->
     <button>

     </button>
</footer>
<router-outlet></router-outlet>