<header>
    <!-- bottone back -->
    <a [routerLink]="'/MainScreen'">
        <button id="back">
            <p id="back-frecia"> < </p>
            <p id="back-text">Back</p>
        </button>
    </a>
    <!-- bottone lingua -->
    <language id="language"></language>
</header>

<body>
    <!-- logo -->
    <div id="cont-logo">    
        <img src="assets/M.png">
    </div>
    <!-- title -->
    <div id="testiMOTE">
        <p id="MO">{{my}}<br>{{order}}</p>
        <span>
            @if(flagInOut){
                <p id="TE">{{TakeOut}}</p>
            }@else {
                <p id="TE">{{EatIn}}</p>
            }
        </span>
    </div>
    <!-- carello -->
     <div id="CObox">
        @for (prod of scontrino; track prod){
            <prod-check-out [prodotto]="prod"></prod-check-out>
        }
    </div>   
</body>

<footer>
    <!-- conto totale -->
    <div id="prezzo-div">
        <p id="totale">{{total}}</p>
        @if(Cur == 'EUR'){    
            <p id="importo">{{ conto | currency:'EUR':'symbol':'1.2-2' : 'it-IT' }}</p>
        }
        @else{
            <p id="importo">{{ conto | currency:'EUR':'symbol':'1.2-2' : 'en-EN' }}</p>
        }
    </div>
    <!-- pulsante checkout -->
    <a routerLink="/StartScreen" (click)="resetBill()">
        <button id="checkoutBut"> 
            <p id="checkout">CheckOut</p>
        </button>
    </a>
</footer>
<router-outlet></router-outlet>