body {
    overflow: hidden; 
}
html, body { 
    height: 100vh; 
    margin: 0; 
    --mat-text-button-state-layer-color: #2d7a2a00;
}
.bottom-sheet {
    color: rgba(255, 255, 255, 0);
    width: 100vw;
}
#bottomSheet.visible {
    display: block;
}
.mat-bottom-sheet-container-medium {
    max-width: 100vw !important;
    max-height: 100vh !important;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}
.mat-bottom-sheet-container {
    min-height: 80vh !important;
    max-height: 100vh !important;
    border-top-left-radius: 200px !important;
    border-top-right-radius: 200px !important;
    box-shadow: none !important;
    background-color: rgb(255, 255, 255);
    background: #ffffff !important;
}


.mat-ripple-element {
    background-color: rgba(255, 0, 0, 0) !important;
}
.ripple-container {
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    z-index: 1;
  }
  
  .ripple {
    position: fixed;
    border-radius: 50%;
    transform: scale(0);
    animation: rippleEffect 0.2s linear;
    border: 5px solid rgba(133, 133, 133, 0.7);
    pointer-events: none; 
    z-index: 1000;
  }
  
  @keyframes rippleEffect {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }