<div id="bottomSheet"  [@holeState]="hiddenCenter ? (bottomSideAperto ? 'shown' : 'hiddenCenter') : (hidden ? 'hidden' : 'shown')"  [style.background-color]="getBackgroundColor()">
    <!-- pulsante chiusura -->
    <div id="cont-close" [style.background-color]="getBackgroundColor()">
       <button (click)="close()" id="close" [style.background-color]="rCBackground()">
            <p id="X" [style.color]="getTestiColor()">X</p>
        </button>
    </div>

    <!-- pulsante info -->    <button id="info" [style.background-color]="rCBackground()">
            <p id="I" [style.color]="getTestiColor()">i</p>
        </button>

    <!-- titolo categoria -->
    <div id="patatine-cont">
        <p  id="patatine-txt"  [style.color]="getTestiColor()" >{{this.lingSer.getCategory()[4].name}}</p>
    </div>
    
    <!-- prodotti della categoria-->
    <div  id="sezione-patatine" >
        @for(prod of sideList ; track prod.item){
        <div id="cont-patatine">
            <div id="cont-img-pat" (click)="setPatatine(prod)" [style.background-color]="getColorFries(prod)">
                <img [src]="prod.image" [style.scale]="getScaleFires(prod)">
            </div>
            <div id="contPrezName">
                <p id="nome" [style.color]="getTestiColor()"> {{prod.item}}</p>
                <p id="Prezzo" >{{ prod.price | currency: 'EUR':'symbol':'1.2-2' : curency === 'EUR' ? 'it-IT' : 'en-EN' }}</p>
            </div>
        </div>
        }
    </div>
    <!-- + - e contatore -->
    <div id="counter-cont" >
        <button id="M-but" class="BottoneCounter"   (click)="minus()"   [style.background-color]="rCBackground()">  
            <p  [style.color]="getTestiColor()">-</p>
        </button>
        <span id="C-cont">
            <p  [@bounce]="bounceIncrementazione === false ? 'start' : 'end'" [style.color]="getTestiColor()">{{quantita}}</p>
        </span>
        <button id="P-but" class="BottoneCounter"   (click)="plus()">
            <p  [style.color]="getTestiColor()">+</p>
        </button>
    </div>

    <!-- salse -->
    <div id="Sez-Salse" [style.background-color]="rCBackground()">
        <div id="titolo-salse">
            <span [style.color]="getTestiColor()">{{chose}}</span><span [style.color]="getTestiColor()">{{ this.lingSer.getCategory()[9].name }}</span>
        </div>
        <div id="Binari">
            <div id="Scor-Salse">
                @for(s of sauceList ;  track s.item){
                <button id="Salsa" (click)="setSalsa(s)" [style.background-color]="getColorSalsa(s)" [style.border]="getBorderSalsa(s)" >
                    <img [src]="s.image">
                    <div [style.display]="getMarginTopTxtSalsa(s)">
                        <p [style.color]="getTestiColor()" > {{s.item}}</p>
                    </div>
                </button>
                }
            </div>
        </div>
    </div>    
    <!-- tasto done -->

    <div id="Fatto" [style.background-color]="getBackgroundColor()">
        <button (click)="fatto()">
            <p>{{done}}</p>
        </button>
    </div>
    

</div>