<div id="bottomSheet" >
    <!-- pulsante chiusura -->
    <button (click)="close()" id="close">
        <p id="X">X</p>
    </button>

    <!-- pulsante info -->
    <button id="info">
        <p id="I">i</p>
    </button>

    <!-- titolo categoria -->
    <div id="patatine-cont">
        <p  id="patatine-txt">{{this.lingSer.getCategory()[4].name}}</p>
    </div>

    <!-- prodotti della categoria-->
    <div  id="sezione-patatine">
        @for(prod of sideList ; track prod.item){
        <div id="cont-patatine">
            <div id="cont-img-pat">
                <img [src]="prod.image">
            </div>
            <div id="contPrezName">
                <p id="nome"> {{prod.item}}</p>
                <p id="Prezzo" >{{ prod.price | currency: 'EUR':'symbol':'1.2-2' : curency === 'EUR' ? 'it-IT' : 'en-EN' }}</p>
            </div>
        </div>
        }
    </div>
    <!-- + - e contatore -->

    <div id="counter-cont">
        <button id="M-but" class="BottoneCounter">
            <p id="meno">-</p>
        </button>
        <span id="C-cont">
            <p id="T-cont">{{counter}}</p>
        </span>
        <button id="P-but" class="BottoneCounter">
            <p>+</p>
        </button>
    </div>

    <!-- salse -->
    
    <div>
        <h2><p>{{chose}}</p><p>{{ this.lingSer.getCategory()[9].name }}</p></h2>
        <div>
            @for(s of sauceList ;  track s.item){
            <button>
                <img [src]="s.image">
                <span>
                    <p> {{s.item }}</p>
                </span>
            </button>
            }
        </div>

        <!-- tasto done -->

        <div>
            <button>
                <p>{{done}}</p>
            </button>
        </div>
    </div>

</div>