<img [src]="getTopperImage(c())">
<p id="nomeTop">{{c()}}</p>
<p id="prezzoTop">{{getTopperPrice(c()) | currency: 'EUR':'symbol':'1.2-2' : Cur === 'EUR' ? 'it-IT' : 'en-EN' }}</p>

<div id="counter-cont">
<button [style.background-color]="rCBackground()" [style.color]="getTestiColor()" id="M-but" (click)="minus(c())"><p id="meno">-</p></button>
<span id="C-cont">
    <p id="T-cont" [@bounce]="bounceIncrementazione === false ? 'start' : 'end'" >{{ getQuantity() }}</p>
</span>
<button id="P-but" (click)="plus(c())"><p id="piu">+</p></button>
</div> 
