
<section class="Prodotto"  [@slideAcquisto]="animation_slideAcquisto_flag === true ? 'start' : 'end'" >
    <div id="imgDiv">
        <img [src] = "prodotto().image" >
    </div>

    <div id="info">
        <p id="prod"> {{ prodotto().item }} </p>
        @if(cur == 'EUR'){    
            <p id="prezzo">{{prodotto().price | currency:'EUR':'symbol':'1.2-2' : 'it-IT' }}</p>
        }
        @else {
            <p id="prezzo">{{prodotto().price | currency:'EUR':'symbol':'1.2-2' : 'en-EN' }}</p>
        }
    </div>
    <!-- + e -  -->
    <div id="counter-cont">
        <button id="P-but" (click)="add()">  +  </button>
        <span id="C-cont">
            <p id="T-cont" [@bounce]="bounceIncrementazione === false ? 'start' : 'end'"> {{  prodotto().quantita   }} </p>
          </span>
        <button id="M-but" (click)="minus()"><p id="meno">-</p></button>
    </div>
    <!-- @if(extraFlag){ -->
        <span [@popExtra]="animation_popExtra_Flag ? 'start' : 'end'">
            <button (click)="edit()"  class="buttonExtra" id="butCustom" >
                <p>{{castomText}}</p>
            </button>
            <button (click)="remove()" class="buttonExtra" id="butRemove">
                <p>{{rimuoviText}}</p>
            </button>
        </span>
    <!-- } -->
</section>

