<nav [style.background-color]="rCBackground()">
    <language id="language"></language>
    
    <div id="upText-container">   
        <p [style.color]="getTestiColor()" id="MR-text">{{my}}<br>{{order}}</p>
        <p [style.color]="getTestiColor()" id="sottoMyOrder">{{modConsumo}}</p>
    </div>
    
    
    <div [style.background-color]="rCBackground()" id="ordini" #scroll>
        @for(billProd of billList ; track billProd.price){    
            <bill [billProd]="billProd"></bill>
        }
    </div>
    
    <div id="prezzo-div">
        <p id="totale">{{total}}</p>
        @if(curency == 'EUR'){    
            <p [style.color]="getTestiColor()" id="importo">{{ conto | currency:'EUR':'symbol':'1.2-2' : 'it-IT' }}</p>
        }
        @else{
            <p [style.color]="getTestiColor()" id="importo">{{ conto | currency:'EUR':'symbol':'1.2-2' : 'en-EN' }}</p>
        }
    </div>

    <a (click)="checkout()">
        <button (click)="passagioCheckOut()" [style.background-color]="getPosibilitaPremuta()"> 
            <p id="fatto">{{done}}</p>
        </button>
    </a>
</nav>
<router-outlet></router-outlet>
