#contenitore-top{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;

    border-top: 2px solid #bdbdba;

    height: 225px;
}
#cont-title{
    margin-top: 20px;
    margin-bottom: 10px;
}
#T-name{
    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
}
#cont-price{
    margin-top: 10px;
}
#T-price{
    margin-top: 20px;
    font-size: 23px;
    color: #aaaaa9;

}
img{
    margin-top: 25px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    display: inline;
}

/* counter */
#counter-cont{
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(3, 40px); 
    grid-auto-flow: row;
    column-gap: 0px;



    margin-left:27%;
}
#C-cont{
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    left: -4px;
}
#T-cont{
    font-weight: bolder;
    font-size: 20px;
}
button{
    border-radius: 10px;
    width:40px ;
    height:30px;
    font-size: large;
}
#P-but{
    border: none;
    background-color:#FFCA40;
    margin-left: 10px;
}
#M-but{
    border: 1px solid gray;
    background-color:#EFECE5;
    margin-left: -10px;
}



